<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8788923678-s2bperaa2k2u06980itag49sa8vh6r32.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8788923678-s2bperaa2k2u06980itag49sa8vh6r32</string>
	<key>API_KEY</key>
	<string>AIzaSyCHrsnCFh4r46ck1kMDQ_U9Hwspx9IZ7UM</string>
	<key>GCM_SENDER_ID</key>
	<string>8788923678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yusufali.RNDM</string>
	<key>PROJECT_ID</key>
	<string>rndm-ios-a0c9e</string>
	<key>STORAGE_BUCKET</key>
	<string>rndm-ios-a0c9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8788923678:ios:ae4f605228b39cbb</string>
	<key>DATABASE_URL</key>
	<string>https://rndm-ios-a0c9e.firebaseio.com</string>
</dict>
</plist>